.pic > .card-cover {
  background-color: white;
}

.qa > .card-cover {
  background-color: #56db89;
  font-size: 4rem;
}

.js > .card-cover {
  background-color: #f7c467;
  color: black !important;
  font-size: 4rem;
  font-weight: bold;
}

.java > .card-cover {
  background-color: #eb2247;
  font-size: 2rem;
}

.php > .card-cover {
  background-color: #727ea3;
  color: black !important;
  font-style: italic;
  font-size: 4rem;
}

.net > .card-cover {
  background-color: #6c2983;
  font-size: 4rem;
}

.info-events > .card-cover {
  background-color: #1494df;
  font-weight: 500;
  font-size: 1rem;
}

.info-blog > .card-cover {
  background-color: #0954aa;
  font-weight: 500;
}

.info-contacts > .card-cover {
  background-color: #033261;
  font-weight: 500;
}


